<nav>
    <ul class="nav nav-pills">
        <li role="presentation">
            <a href="{% url 'job_create' %}">Create Job</a>
        </li>
        <li role="presentation">
            <a href="{% url 'pipeline_create' %}">Create Pipeline</a>
        </li>
        <li role="presentation">
            <a href="{% url 'command_create' %}">Create Command</a>
        </li>
        <li role="presentation">
            <a href="{% url 'job_list' %}">List Jobs</a>
        </li>
        <li role="presentation">
            <a href="{% url 'pipeline_list' %}">List Pipelines</a>
        </li>
    </ul>
</nav>